{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'navbar.html' %}
<!-- bredcrumb Area Start-->
<section class="breadcrumb-area">
    <div class="banner-bg-img"></div>
    <div class="banner-shape-1"><img src="{%static 'assets/img/banner/shape-1.png' %}" alt="img"></div>
    <div class="banner-shape-2"><img src="{%static 'assets/img/banner/shape-2.png' %}" alt="img"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 align-self-center">
                <div class="banner-inner text-center">
                    <h3>Reserve Table
                    </h3>
                    <h1>delivery & payment info
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Reservation</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- bredcrumb Area End -->

<!-- checkout area start -->
<div class="checkout-area pd-top-120 pd-bottom-120">
    <div class="container">
        {%include 'messages.html'%}
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="bill-payment-wrap">
                    <h5>Billing details
                    </h5>
                    <form action="" method="post" class="default-form-wrap style-2">
                        {%csrf_token %}
                        <div class="row">
                            <div class="col-md-10">
                                <div class="single-input-wrap">
                                    {{form}}</br>
                                    <button type="submit" class="btn btn-secondary w-100"> PLACE ORDER</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="order-area">
                    <h5 class="title">Your order</h5>

                    {% for products in cart.cartproduct_set.all %}
                    <div class="order-product">
                        <div class="thumb">
                            <img src="{{products.product.image.url}}" alt="{{products.product.name}}">
                        </div>
                        <div class="details">
                            <h6>{{products.product.name}}</h6>
                            <ul>
                                <li><span>{{products.product.summary|safe}} </span></li>
                            </ul>
                            <ul class="amount">
                                <li>Subtotal<span>₦ {{products.subtotal}}</span></li>
                            </ul>
                        </div>
                    </div>
                    {%endfor %}
                    <ul class="amount">
                        <li class="total">Total<span>₦ {{cart.total}}</span></li>
                    </ul>
                    <div class="peyment-method">
                        <h6>Check payments</h6>
                        <ul class="card-area">
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                    </label>
                                </div>
                                <div class="details">
                                    <h6>Credit Cart <img src="{%static 'assets/img/icon/peyment-card.png' %}" alt="img">
                                    </h6>
                                    <p>Pay with visa, MasterCard, and many other credit and debit credit vai paystack
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                    </label>
                                </div>
                                <div class="details">
                                    <h6>Pay on Delivery <img src="{%static 'assets/img/icon/paypal-card.png' %}"
                                            alt="img"></h6>
                                    <p>Make payment after you get your product</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- checkout area end -->

{% endblock content %}